.header-full{
  background-color: #5961a7;
}
.icon-circle {
    color: #E3B448;
    border: 1px solid white ;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
   
  }
  
  .navbar{
    background-color: white;
    padding: 20PX;
  }
  .nav-item{
    font-size: 20px;
    font-weight: 600;
    
  }
  .navbar-nav .nav-link {
    position: relative;
    color: #003366;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    padding: 8px 10px;
  }
 
 
  .banner {
    height: 400px;
    overflow: hidden;
  }
  
  .banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .banner-content {
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6); 
  }
  .btn-light {
    color: black;
    background-color: #d7da08;
    border: none;
    font-size: 16px;
    transition: 0.3s ease;
  }
  
  .btn-light:hover {
    background-color:#14dc9d;
  }
  
  .btn-custom {
    background-color: #5961a7;
    color: white;
    border: none;
    transition: 0.3s ease;
  }
  
  .btn-custom:hover {
    background-color: #0f82a8;
  }

.about-us-section {
  background-color: #f4f1ec;
  padding: 60px 0;
}

.about-section h2 {
  font-weight: bold;
  text-align: center;
  color:#5961a7;
}

.about-section p {
  font-size: 1.1rem;
  line-height: 1.6;
 
}
.about-img {
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  object-fit: cover;
}

.hotel-gallery {
  background-color: #f8f9fa;
}

.gallery-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-img:hover {
  transform: scale(1.05);
}


.card-img-top {
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.footer-box{
  background-color:  #666ca042;

}
.section-title {
  background: #599ba7;
  padding: 10px 20px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 20px;
}

.footer-box ul {
  list-style: none;
  padding-left: 0;
}

.footer-box ul li {
  margin-bottom: 12px;
  font-size: 16px;
}

.footer-box ul li i {
  font-size: 20px;
  margin-right: 10px;
}

.footer-box a {
  color:black;
  text-decoration: none;
}

.footer-box a:hover {
  color: white;
  text-decoration: underline;
}

.footer-bottom {
  width: 100%;
  background-color: #00688b;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}
.footer-bottom a {
  color: #fff;
  text-decoration: underline;
}
.book .row{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  align-items: center;
}

.book .row .image{
  flex:1 1 40rem;
}

.book .row .image img{
  width:100%;
}

.book .row form{
  flex:1 1 40rem;
  padding:2rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border-radius: .5rem;
}

.book .row form .inputBox{
  padding:.5rem 0;
}

.book .row form .inputBox input{
  width:100%;
  padding:1rem;
  border:.1rem solid rgba(0,0,0,.1);
  font-size: 1.7rem;
  color:#333;
  text-transform: none;
}

.book .row form .inputBox h3{
  font-size: 2rem;
  padding:1rem 0;
  color:#666;
}
body{
  background-color: #f8f9fa;
}
form{
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

